<div class="login-container">
  <div class="background-image"></div>
  <div class="login-form">
    <img src="/assets/hbjpg.jpg" alt="" />
    <form>
      <label for="username" style="font-weight: bold"
        >Nom d'utilisateur :</label
      >
      <input
        type="text"
        id="username"
        name="username"
        required
        placeholder="Entrer votre nom d'utilisateur"
      />

      <label for="password" style="font-weight: bold">Mot de passe :</label>
      <input
        type="password"
        id="password"
        name="password"
        required
        placeholder="Entrer votre mot de passe"
      />

      <button type="submit">Se connecter</button>

      <p class="mt-5 mb-3 text-body-secondary">&copy; 2023–2024</p>
    </form>
  </div>
</div>
    