<app-menuadmin></app-menuadmin>
<div
  style="
    width: 90%;
    height: max-content;
    background-color: white;
    margin-left: 5%;
    margin-top: 2%;
  "
>
  <!-- signup-form.component.html -->

  <div
    class="container"
    style="border: 1px solid #ccc; width: 95%; padding: 2%; margin-bottom: 2%"
  >
    <h2 style="font-family: rubik; text-align: center">
      Enregistrer un Nouveau Produit
    </h2>
    <div
      style="
        border: 1px solid rgb(231, 231, 231);
        width: 90%;
        margin-left: 25px;
      "
    ></div>

    <form>
      <div
        style="
          display: flex;
          justify-content: space-between;
          width: 90%;
          padding-left: 10%;
        "
      >
        <!-- partie gauche -->
        <div style="width: 45%; margin-top: 15px">
          <label>Nom *:</label><br />
          <input
            type="text"
            style="
              width: 80%;
              border-radius: 5px;
              background-color: white;
              border: 1px solid #ccc;
              height: 35px;
              padding-left: 10px;
            "
            required
            placeholder="Veuillez saisir le nom du produit"
          /><br />
          <label>Description *:</label><br />
          <textarea
            style="
              border: 1px solid #ccc;
              border-radius: 5px;
              width: 80%;
              height: 150px;
            "
            placeholder="Veuillez introduire la description du produit"
            required
          ></textarea
          ><br />
          <label>Quantite en stock *:</label><br />
          <input
            type="Number"
            style="
              border: 1px solid #ccc;
              border-radius: 5px;
              width: 80%;
              height: 35px;
              padding-left: 10px;
            "
            required
            placeholder="Veuillez saisir la quantité disponible"
          /><br />
          <label>Prix *:</label><br />
          <input
            type="Number"
            style="
              border: 1px solid #ccc;
              border-radius: 5px;
              width: 80%;
              padding-left: 10px;
              height: 35px;
            "
            required
            placeholder="Veuillez saisir le prix du produit"
          />
        </div>
        <!-- partie droite -->
        <div style="width: 45%; margin-top: 15px">
          <label>Disponibilité *:</label><br />
          <input
            type="text"
            style="
              width: 80%;
              border-radius: 5px;
              background-color: white;
              border: 1px solid #ccc;
              height: 35px;
              padding-left: 10px;
            "
            required
            placeholder="Veuillez saisir le nom du produit"
          /><br />
          <label>image *:</label><br />
          <input type="file" />
          <br />
          <label>Categorie *:</label><br />
          <select
            style="border: 1px solid #ccc; border-radius: 5px; height: 25px"
          >
            <option>Proteine</option>
            <option>Acide Aminé</option>
            <option>Vitamine</option>
            <option>Snacks</option>
            <option>Endurance</option>
            <option>Equipement Sportif</option></select
          ><br />
          <label>Identifiant *:</label><br />
          <input
            type="text"
            style="
              width: 80%;
              border-radius: 5px;
              background-color: white;
              border: 1px solid #ccc;
              height: 35px;
              padding-left: 10px;
            "
            required
            placeholder="Veuillez saisir l'identifiant du produit"
          /><br />
        </div>
      </div>
    </form>
    <input
      type="submit"
      value="Enregistrer"
      class="btn btn-success"
      style="margin-left: 45%"
    />
  </div>
</div>
