<div
  style="
    height: 120px;
    width: 100%;
    background-color: rgb(8, 8, 8);
    margin-top: -50px;
    display: flex;
    justify-content: space-around;
  "
>
  <div style="margin-top: 70px; color: rgb(182, 182, 182)">
    <p>Emplacement logo</p>
  </div>
  <div>
    <ul
      style="
        list-style-type: none;
        color: #fff;
        padding-top: 30px;
        display: flex;
      "
    >
      <li style="font-size: 20px; margin-top: 40px; margin-right: 10px">
        <i class="bx bxs-dashboard" style="padding-right: 2px"></i>Dashboard
      </li>
      <li style="font-size: 20px; margin-top: 40px; margin-right: 10px">
        <a routerLink="/products"
          ><i class="bx bxl-product-hunt" style="padding-right: 2px"></i
          >Produits</a
        >
      </li>
      <li style="font-size: 20px; margin-top: 40px; margin-right: 10px">
        <a routerLink="/events"
          ><i class="bx bxs-calendar-event" style="padding-right: 2px"></i
          >Evenements</a
        >
      </li>
      <li style="font-size: 20px; margin-top: 40px; margin-right: 10px">
        <a routerLink="/articles"
          ><i class="fa-solid fa-newspaper" style="padding-right: 2px"></i
          >Articles</a
        >
      </li>
      <li style="font-size: 20px; margin-top: 40px; margin-right: 10px">
        <a routerLink="/communications"
          ><i class="bx bxs-envelope" style="padding-right: 2px"></i
          >Communications</a
        >
      </li>
    </ul>
  </div>
  <div>
    <ul
      style="
        list-style-type: none;
        color: #fff;
        font-size: 20px;
        margin-top: 70px;
        display: flex;
      "
    >
      <li style="margin-left: 10px">
        <i class="bx bxs-cog" style="padding-right: 2px"></i>Parametre
      </li>
      <li style="margin-left: 10px">
        <i class="bx bx-log-in" style="padding-right: 2px"></i>Quitter
      </li>
    </ul>
  </div>
</div>
