<app-menuadmin></app-menuadmin>
<div
  style="
    width: 90%;
    height: max-content;
    background-color: white;
    margin-left: 5%;
    margin-top: 2%;
  "
>
  <div
    style="
      display: flex;
      justify-content: space-between;
      width: 90%;
      margin-left: 5%;
      margin-bottom: 2%;
    "
  >
    <h2 style="font-family: rubik">Liste des produits</h2>
    <button
      class="btn btn-success"
      style="width: 100px; height: 35px; margin-top: 10px"
      routerLink="/addproduct"
    >
      Ajouter
      <i class="fa-solid fa-plus"></i>
    </button>
  </div>

  <table class="table table-striped">
    <thead>
      <tr style="font-family: rubik; font-size: 18px">
        <th>Nom du Produit</th>
        <th>Prix</th>
        <th>Stock</th>
        <th>Disponibilité</th>
        <th>Categorie</th>
        <th colspan="2" style="padding-left: 100px">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prod of products$ | async">
        <td>{{ prod.nom }}</td>
        <td>{{ prod.prix }}</td>
        <td>{{ prod.stock }}</td>
        <td>{{ prod.disponibilite }}</td>
        <td>{{ prod.categorie }}</td>
        <td>
          <button
            class="btn btn-warning"
            style="padding: 5px; color: white"
            [routerLink]="['/products/modif', prod.id]"
          >
            Details<i class="fa-solid fa-circle-info"></i>
          </button>
        </td>
        <td>
          <button class="btn btn-danger" (click)="deleteProduct(prod.id)">
            Supprimer<i class="fa-solid fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
